* {
  margin: 0;
  padding: 0;
}

.title {
    text-align: center;
  }

body {
  background-color: #d2d6e9;
  color: #555;
  font-size: 1.1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  background-color: #d2d6e9;
p1 {
  text-align: center;
  background-color: #d2d6e9;
  padding: 0.5em;
}

h3 {
  margin-bottom: 0.5em;
  align-items: center;
  margin-top: 00.5em;
}

h4 {
  margin-bottom: 0.5em;
  
  align-items: center;
}

form {
  text-align: center;
  align-items: center;

}

nav {
  background-color: mistyrose;
  padding: 0.5em;
}


aside {
  background-color: lavender;
  padding: 0.5em;
}

input {
  text-align: center;
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


