<h1>Posts/kommentarer du har blokert: </h1> 
  <a href="http://localhost:8080">Tilbake til hjemmeside</a>
 



  <%postDataListe.forEach(function(dat) { %>
    <li>Post:</li>
    <li><%= dat.title%></li> 
    <li><%= dat.text%></li>   
    <li>Forfatter: <%= dat.user%></li> 
    
    <% }); %> 
    
    <%commentDataListe.forEach(function(dat) { %>
        <li>Kommentar:</li>
        <li><%= dat.text%></li>  
        <li>Forfatter: <%= dat.user%></li> 
    <% }); %> 
  





