<h1>Navn: <%= forespoerselNavn %></h1>
<h1>Text: <%= forespoerselText %></h1>

  <a href="http://localhost:8080">Tilbake til hjemmeside</a>' 
  <p id ="knapper"> </p>
  <script> 
    var knapper = document.getElementById("knapper")
    
     knapper.innerHTML += `<a href="http://localhost:8081/forespoersler/oppgrader/<%= forespoerselNavn %>">Oppgrader bruker til moderator             </a>` 
     knapper.innerHTML += `<a href="http://localhost:8081/forespoersler/ikkeOppgrader/<%= forespoerselNavn %>">Ikke oppgrader bruker til moderator</a>` 
  </script>
</form>
