<h1>Antall soekere: <%= forespoerselInfo %></h1>
  <a href="http://localhost:8080">Tilbake til hjemmeside</a>'  
  <ul id ="knapper"> </ul>
  <script>  
     var idListe = `<%= forespoerselIder %>`
    var knapper = document.getElementById("knapper") 

    var i = 0; 
    var id = "" 
    var fullId = "" 
    //Før vi fant ut om den ander måten man kan sende en datastruktur til en .ejs fil sente vi en string av en liste og måtte separere elementene
    while(i < idListe.length){
     
      if(idListe[i] == ","){
        knapper.innerHTML += `<li><a href="http://localhost:8081/forespoersler/${id} %>">Soeknad nummer ${id}  %>      </a> </li>`  
        id=""
      }else{
      id += idListe[i]
      } 
      i++
    } 
    if(i > 0)knapper.innerHTML += `<li> <a href="http://localhost:8081/forespoersler/${id} %>">Soeknad nummer ${id}  %>       </a><li>`
  </script>
