<h1>Informasjonsside </h1> 
<h1></h1>  
    <a>Din email: <%= email %></a> 
    <a>Din bildetype <%= bildeType %></a>
    <form action="/endreEpost/<%= id %>" method="POST"> 
        <input type="email" name="email" placeholder ="edit email">
        <button type="edit">Endre email</button>
    </form> 

    <a>Trykk på bildet du vil ha </a>
    
    <a id = "bilder"></a>
    

    <a href="http://localhost:8080">Tilbake til hjemmeside</a>
    

    <script>
        function intetBilde(){
          window.sessionStorage.setItem("bildeType","intetBilde");  
  
      }    
  
      function gorillaBilde(){
          window.sessionStorage.setItem("bildeType","Gorilla");  
  
      }   
          
      if (window.sessionStorage.getItem("bildeType") === null) {
          window.sessionStorage.setItem("bildeType","intetBilde")
      }
      var bilder = document.getElementById("bilder"); 
      
      bilder.innerHTML += `
      <button onclick="intetBilde()">Velg å ikke ha et bilde</button>
      
        <button onclick="gorillaBilde()">Gorilla bilde</button>
  
    
      <form action="/endreBilde/${window.sessionStorage.getItem("bildeType")}/<%= id %>" method="POST"> 
      <button type="edit">Endre bilde</button>
      </form> 
      
      
      `
      
  
    </script>



    

  





