<h1>Kommentarer</h1> 

 
<button onclick="sorterTid()">Sorter etter tid</button>  
<button onclick="sorterScore()">Sorter etter score</button> 

  <p id = "kommentarer"></p>

  
    <p id ="skrivKommentarer"> </p>  
    <a href="http://localhost:8080">Tilbake til hjemmeside</a> 


    <script>  
    
    var kommentarer = document.getElementById("kommentarer") 
    function sorterScore(){
        window.sessionStorage.setItem("sorter","score");  
        location.reload(); 
              return false;
    }    

    function sorterTid(){
        window.sessionStorage.setItem("sorter","tid");  
        location.reload(); 
              return false; 
    }  
    
    if (window.sessionStorage.getItem("sorter") === null) {
        window.sessionStorage.setItem("sorter","score")
    }
    
    if(window.sessionStorage.getItem("sorter")=="tid"){
      kommentarer.innerHTML += ` 
      <%kommentarInformasjon.forEach(function(dat) { %>
        <li><%= dat.brukerNavn%></li>
        <li><%= dat.tekst%></li>   
        <li>Score: <%= dat.score%></li> 
        <form action="/upvoteKommentar/<%= dat.id %>" method="POST"> 
            <button type="upvote">Upvote</button>
        </form> 
        <form action="/downvoteKommentar/<%= dat.id %>" method="POST"> 
            <button type="downvote">Downvote</button>
        </form> 
        <%if (brukerId == dat.userId || brukerType == "admin") { %>
            <form action="/redigerKommentar/<%= dat.id %>" method="POST"> 
                <input type="text" name="text" placeholder ="edit text">
                <button type="edit">Edit kommentar</button>
            </form>
        <% } %>  
        <%if (brukerType == "moderator" || brukerType == "admin") { %>
         <form action="/blokkKommentar/<%= dat.brukerNavn %>/<%= dat.id %>/<%= brukerId %>" method="POST"> 
   
             <button type="blokk">Blokk kommentar</button>
         </form>
     <% } %> 
        <%if (brukerId == dat.userId || brukerType == "admin") { %>
            <form action="/slettKommentar/<%= dat.id %>" method="POST"> 
      
                <button type="delete">Slett kommentar</button>
            </form>
        <% } %> 

        <% }); %> 
      `
     
    }else if(window.sessionStorage.getItem("sorter")=="score"){
        
        kommentarer.innerHTML += `  
        <%kommentarInformasjon.sort((a, b) => (a.score < b.score) ? 1 : -1) %>
        <%kommentarInformasjon.forEach(function(dat) { %>
          <li><%= dat.brukerNavn%></li>
          <li><%= dat.tekst%></li>   
          <li>Score: <%= dat.score%></li> 
          <form action="/upvoteKommentar/<%= dat.id %>" method="POST"> 
              <button type="upvote">Upvote</button>
          </form> 
          <form action="/downvoteKommentar/<%= dat.id %>" method="POST"> 
              <button type="downvote">Downvote</button>
          </form> 
          <%if (brukerId == dat.userId || brukerType == "admin") { %>
              <form action="/redigerKommentar/<%= dat.id %>" method="POST"> 
                  <input type="text" name="text" placeholder ="edit text">
                  <button type="edit">Edit kommentar</button>
              </form>
          <% } %>  
          <%if (brukerType == "moderator" || brukerType == "admin") { %>
            <form action="/blokkKommentar/<%= dat.brukerNavn %>/<%= dat.id %>/<%= brukerId %>" method="POST"> 
   
             <button type="blokk">Blokk kommentar</button>
          </form>
          <% } %> 
          <%if (brukerId == dat.userId || brukerType == "admin") { %>
              <form action="/slettKommentar/<%= dat.id %>" method="POST"> 
        
                  <button type="delete">Slett kommentar</button>
              </form>
          <% } %> 

          <% }); %> 
        `
    }


    var kommentarInput = document.getElementById("skrivKommentarer") 
    kommentarInput.innerHTML += ` <form action="/skrivKommentar/${`<%= postId %>`}/${`<%= brukerId %>`}" method="POST">
        <input type="text" name="text" required> 
        <button type="submit">Skriv kommentar</button>
        
        
        </form>`  
    </script>
  



