<h1>Users and moderators</h1>
   <%userDataListe.forEach(function(dat) { %>
     <li>Usertype: <%= dat.userType%> </li>
     <li>Id: <%= dat.uid%></li>
     <li>Epost: <%= dat.epost %></li> 
     <li>Bildetype: <%= dat.bildeType%></li>    
     <% }); %> 
     
     
