<h1>Posts</h1> 
  <a href="http://localhost:8080">Tilbake til hjemmeside</a>
 
     <p id = "soekefelt"></p>
    <button onclick="sorterTid()">Sorter etter tid</button>  
    <button onclick="sorterScore()">Sorter etter score</button> 
    
    <p id ="posts"></p>
    
   
    
    <li><a href="http://localhost:8081/skrivPosts/<%= brukerId %>">Skriv post her %>      </a> </li>
  

    <script>   
    var posts = document.getElementById("posts");  
    function sorterScore(){
        window.sessionStorage.setItem("sorter","score");  
        location.reload(); 
              return false;
    }    

    function sorterTid(){
        window.sessionStorage.setItem("sorter","tid");  
        location.reload(); 
              return false; 
    }   
        
    if (window.sessionStorage.getItem("sorter") === null) {
        window.sessionStorage.setItem("sorter","score")
    }
    
    if(window.sessionStorage.getItem("sorter")=="tid"){
      posts.innerHTML += ` 
       

        <p>Sorter etter tid</p>
   <%postInformasjon.forEach(function(dat) { %>
     <li>Post:</li>
     <li><%= dat.tittel%></li>
     <li>Forfatter: <%= dat.brukerNavn %></li> 
     <li><%= dat.tekst%></li>    
     <li>Score: <%= dat.score%></li> 
     <form action="/upvotePost/<%= dat.postId %>" method="POST"> 
         <button type="upvote">Upvote</button>
     </form> 
     <form action="/downvotePost/<%= dat.postId %>" method="POST"> 
         <button type="downvote">Downvote</button>
     </form> 
     <%if (brukerId == dat.posterId || brukerType == "admin") { %>
         <form action="/redigerPost/<%= dat.postId %>" method="POST"> 
             <input type="title" name="title" placeholder ="edit title">
             <input type="text" name="text" placeholder ="edit text">
             <button type="edit">Edit post</button>
         </form>
     <% } %>  
     <%if (brukerType == "moderator" || brukerType == "admin") { %>
         <form action="/blokkPost/<%= dat.brukerNavn %>/<%= dat.postId %>/<%= brukerId %>" method="POST">  
            
   
             <button type="blokk">Blokk post</button>
         </form>
     <% } %> 
     <%if (brukerId == dat.posterId || brukerType == "admin") { %>
         <form action="/slettPost/<%= dat.postId %>" method="POST"> 
   
             <button type="delete">Slett post</button>
         </form>
     <% } %> 
         <li><a href="http://localhost:8081/posts/<%= brukerId %>/kommentarer/<%= brukerType %>/<%= dat.posterId %>/<%= dat.postId %>">Se eller legg til kommentarer  </a> </li>
   
     <% }); %> 
     
     `    
     
    }else if(window.sessionStorage.getItem("sorter")=="score"){
        
     posts.innerHTML += ` 
        <p>Sorter etter score</p> 
    <%postInformasjon.sort((a, b) => (a.score < b.score) ? 1 : -1) %>
  <%postInformasjon.forEach(function(dat) { %>
    <li>Post:</li>
    <li><%= dat.tittel%></li>
    <li>Forfatter: <%= dat.brukerNavn %></li> 
    <li><%= dat.tekst%></li>    
    <li>Score: <%= dat.score%></li> 
    <form action="/upvotePost/<%= dat.postId %>" method="POST"> 
        <button type="upvote">Upvote</button>
    </form> 
    <form action="/downvotePost/<%= dat.postId %>" method="POST"> 
        <button type="downvote">Downvote</button>
    </form> 
    <%if (brukerId == dat.posterId || brukerType == "admin") { %>
        <form action="/redigerPost/<%= dat.postId %>" method="POST"> 
            <input type="title" name="title" placeholder ="edit title">
            <input type="text" name="text" placeholder ="edit text">
            <button type="edit">Edit post</button>
        </form>
    <% } %>  
    <%if (brukerType == "moderator" || brukerType == "admin") { %>
         <form action="/blokkPost/<%= dat.brukerNavn %>/<%= dat.postId %>/<%= brukerId %>" method="POST">  
  
   
             <button type="blokk">Blokk post</button>
         </form>
     <% } %> 
    <%if (brukerId == dat.posterId || brukerType == "admin") { %>
        <form action="/slettPost/<%= dat.postId %>" method="POST"> 
  
            <button type="delete">Slett post</button>
        </form>
    <% } %> 
        <li><a href="http://localhost:8081/posts/<%= brukerId %>/kommentarer/<%= brukerType %>/<%= dat.posterId %>/<%= dat.postId %>">Se eller legg til kommentarer  </a> </li>
  
    <% }); %> 
    
    `
    } 
    
    
    var soekefelt = document.getElementById("soekefelt"); 
    soekefelt.innerHTML += ` 
        <form action="/search/${`<%= brukerNavn %>`}" method="POST">
            <input type="search" name="search" placeholder ="search">
            <button type="submit">Soek etter tittel. Foreloepelig case sensitive</button>
        </form>
        `  
    </script> 



