<p id ="skrivPosts"> </p>  
<datalist id="muligeTitler"> 

  <option value="Jeg trenger hjelp med noe"></option> 
  <option value="Hva synes dere"></option> 
  <option value="Min mening om hunder"></option> 

  </datalist>  
<script>    
  



    //Kode for input 
    var tittelForslag = [  
    "Jeg trenger hjelp med noe",
    "Hva synes dere",
    "Min mening om hunder"
      ];  
      /*list of available options*/ 
     var n= tittelForslag.length; //length of datalist tags     
  //Kode hentet fra https://www.geeksforgeeks.org/javascript-auto-complete-suggestion-feature/
  function autoComplete(value) { 
     document.getElementById('muligeTitler').innerHTML = ''; 

        
      l=value.length; 

        for (var i = 0; i<n; i++) { 
            if(((tittelForslag[i].toLowerCase()).indexOf(value.toLowerCase()))>-1) 
        { 

          var node = document.createElement("option"); 
          var val = document.createTextNode(tags[i]); 
           node.appendChild(val); 

            document.getElementById("muligeTitler").appendChild(node); 

          } 
      } 
    } 
    var postInput = document.getElementById("skrivPosts") 
 
   //Bruker en liste med mulige titler  
   
    postInput.innerHTML += ` <form action="/skrivPost/${`<%= brukerId %>`}" method="POST">
        <input type="text" name="title" list = "muligeTitler" onkeyup="autoComplete(this.value)" required>
        <input type="text" name="text" required> 
        <button type="submit">Skriv tittel og tekst</button>
        
        
        </form>`  
        
        
   

  </script>  

