<h1>Soekeresultater: </h1> 
<h1><%= brukerId %></h1>
  <a href="http://localhost:8080">Tilbake til hjemmeside</a>
 



  <%postInformasjon.forEach(function(dat) { %>
    <li>Post:</li>
    <li><%= dat.tittel%></li>
    <li>Forfatter: <%= dat.brukerNavn %></li> 
    <li><%= dat.tekst%></li>  
        <li><a href="http://localhost:8081/posts/<%= brukerId %>/kommentarer/<%= brukerType %>/<%= dat.posterId %>/<%= dat.postId %>">Se eller legg til kommentarer  </a> </li>
  
<% }); %> 
    

  





